{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Public Galery</title> 
    <link rel="stylesheet" type="text/css" href="{% static 'galery/style.css' %}">
  </head>
  <body>
    
    <header class="header center-fix">
	     <h2>Public Galery</h2>
    </header>
    
    <div class="center-fix">
	     <img class="img-index" src="{% static 'galery/img/cute.gif' %}">
        <h1 class="title-index">Welcome Your public galery</h1>	
        <form action="{% url 'galery:upload_view' %}">
            <input type="submit" class="button-index" value="Upload">
        </form>
    </div>
    <div class="container center-fix">
        <div class="">
          <div class=" center-fix">
           {% for image in images_list %}
	           <img class="img-db" src="{% static 'galery/img/'%}{{image.image_name}} ">
             <a href="{% url 'galery:image' image.id %}"> <h5> {{ image.description }}</h5></a>
	           <p>by: {{ image.name_user }}</p>
	           <p>name: {{ image.image_name }}</p>
	         {% endfor %}
           <h3>Images
           <hr>
           </h3>	
          </div>	
        </div>
    </div>

  </body>
</html>